body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rotating-text{
    font-weight: bold;
    font-size: 36px;
    color: black;
    transform: translate(-80px);
}
.rotating-text p{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}
.rotating-text p .word{
    position: absolute;
    display: flex;
    opacity: 0;
}

.rotating-text p .word .letter{
    transform-origin: center center 25px;
}
.rotating-text p .wod .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.w-1, .w-2{
    color: orangered;
}